@font-face {
    font-family: 'oneerregular';
    src: url('../fonts/oneer-webfont.eot');
    src: url('../fonts/oneer-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oneer-webfont.woff2') format('woff2'),
    url('../fonts/oneer-webfont.woff') format('woff'),
    url('../fonts/oneer-webfont.ttf') format('truetype'),
    url('../fonts/oneer-webfont.svg#oneerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-light-webfont.woff2') format('woff2'),
    url('../fonts/lato-light-webfont.woff') format('woff'),
    url('../fonts/lato-light-webfont.ttf') format('truetype'),
    url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-bold-webfont.woff2') format('woff2'),
    url('../fonts/lato-bold-webfont.woff') format('woff'),
    url('../fonts/lato-bold-webfont.ttf') format('truetype'),
    url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.eot');
    src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-medium-webfont.woff2') format('woff2'),
    url('../fonts/lato-medium-webfont.woff') format('woff'),
    url('../fonts/lato-medium-webfont.ttf') format('truetype'),
    url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




/**        ///     GENERAL   ///        **/


h1 {font-family: "oneerregular";
    font-size: 56px;}

h1 a:hover {text-decoration: none; color: black;}

h2 {font-family: "latolight";
    font-size: 15px;
    margin-top: -15px;}

h3 {font-family: "latolight";
    font-size: 20px;
}

a {color: black;}


/**  Titre de l'illustration dans la galerie **/
.thumbnail h4 {font-size: 15px;
    margin-bottom: -2px;}






/** ////////// PAGE HOME ////////// **/

.logo-mini {text-transform: lowercase;}

.breadcrumb:hover{
    text-decoration: none;
    color:grey;
}


.header_video {margin-bottom: 30px;}


.pagination ul li a {color: black;
}

.pagination ul li a:hover {color: black;
}

.seemore a {font-size: 11px; color: grey;}
.seemore a:hover{font-size: 11px; color: black; text-decoration: none;}




/** NAVBAR **/


.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav .open>a:active  {background-color: white;
    color: black;}
.nav-pills li a, .nav-pills li a:active, .nav-pills li a:hover, .nav-pills li a:visited {background-color: white;
    color: black;
    text-transform: uppercase;}

.title-gallery {font-family: 'oneerregular';
    float: left;
    font-size: 35px;
    color: black;
}
.big-container {padding-bottom: 20px;}


/**  Bouton upload **/

.btn a {color: white;
}
.btn a:hover {text-decoration: none; color: white;}


.btn-gray {background-color: gray;}


}

.upload a:hover{text-decoration: none;
    color: white;
}

.upload-2 {
    background-color: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.upload-2c {
    background: #cb4e4e;
    border-radius: 5px;
    width: 354px;
    text-transform: UPPERCASE;
    font-weight: 500;

}

.upload-2c:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
    color: white;
}

.upload-2c:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}


.star{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    cursor: pointer;
    padding: 15px 45px;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.star a{font-family: "latobold";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
}
.star a:hover{font-family: "latobold";
    color: white;
    text-decoration: none;
}

.upload:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}



/** Gallery - bouton like  **/
.like {border: none;}
.like:hover {background-color: white;}



/** Gallery - bouton coeur  **/
.like2 {color: #ff6347;
    background-color: white;
    border: 1px #ccc solid;
}
.like2:hover{background-color: #f05d43;
    border: 1px #f05d43 solid;
}
.like2:active {background-color: #f05d43;
    border: 1px #f05d43 solid;}
.like2:focus {background-color: #f05d43;
    border: 1px #f05d43 solid;}




.ol.li.a:hover {color: black;
    text-decoration: none;}

/** ////////// PAGE UPLOAD ////////// **/


/* Drag and drop */

.container-upload {margin-top: -80px;}
.container-upload p {font-size: 18px;}


.upload-drop-zone {
    height: 100px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 100px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.upload_radio p {font-size: 13px;
    margin-bottom: -2px;}




/** ////////// PAGE RECAP ////////// **/
.modifier {background-color: white;}



/** ////////// MODAL SHOPPING BAG ////////// **/
.description-achat p{margin-bottom: -5px;}
.price p {font-size: 14px;}


/** ////////// DASHBOARD ////////// **/
.dashboard {margin-top: 50px;}

.dashboard_infos {margin-top: 50px;}
.dashboard a {font-size: 12px;}



#addtobasket a{border: 1px black solid;
    padding: 20px;
}


#addtobasket a {background-color: white;
    color: black;
    1px black solid;
    padding: 20px;

}

#addtobasket a:hover {text-decoration: none;}



.socialnetwork {margin-top: 2em;}

.socialnetwork img {float:left; }




.contact_bloc { margin-top: 50px;}


.form-upload {width: 200px; margin-top: -10px; border-radius: 0px;}

.form-upload-description {width: 200px; margin-top: -10px; border-radius: 0px; height: 70px;}


.size {border: none;
    border-radius: 0px;}
.size:hover {background-color: #ff5555; color: white;}
.size:focus {background-color: #ff5555; color: white;}



.modalities {font-family: 'latomedium';}

.form-quantity {width: 110px;}

.title_upload {font-family: 'latomedium';}

.summary {font-size: 14px;
    font-family: 'latolight';
    margin-bottom: -10px;}
.summary-block {margin-top: 15px;}


.btn-another-work {background-color: #f5f5f5;
    margin-top: 25px;
    border-radius: 0px;
    font-family: 'latolight';
    text-transform: uppercase;
    width: 100%;}

input[type=radio].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:23px;
    height:18px;
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:12px;
    font-family: 'latolight';
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_68164feed330bede8c442476d8be4ad2.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-checkbox + label.css-label2 {
    padding-left:23px;
    height:18px;
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:12px;
    font-family: 'latolight';
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-checkbox:checked + label.css-label2 {
    background-position: 0 -18px;
}
label.css-label2 {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_68164feed330bede8c442476d8be4ad2.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** ////////// PAGE GALLERY ////////// **/


.breadcrumb{
    margin-bottom: 5px;
}

.breadcrumb li a{
    text-decoration: none;
    color:grey;
}

.breadcrumb li a:hover{
    text-decoration: none;
    color:#FF4D4D;
}

.field {
    display:flex;
    position:realtive;
    margin-top:4em auto;
    margin-bottom:0.4em ;
    margin-left: 45px;
    width:75%;
    flex-direction:row;
    color:#ff4040;
}

.field>input[type=text],
.field>button {
    display:block;
    font:1.2em 'Helvetica';
}

.field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.15em solid black;
    border-top-left-radius:10px;
}

.field>button {
    padding:0.6em 0.8em;
    background-color:black;
    color:white;
    border:none;
    border-bottom-right-radius:10px;
}

.field>button:hover {
    padding:0.6em 0.8em;
    background-color:#ff4040;
    color:white;
    border:none;
    transition:0.4s;
}

/** ////////// PAGE REGISTER ////////// **/

.form-horizontal{
    width: 65%;
    margin: auto;
    padding:1em;
}

#legend{
    font-size: 2.5em;
    font-family: 'latolight'
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.btnconfirm{
    border-radius: 7px;
    height: 3em;
    margin: auto;
    margin-left: 15px;
    margin-top: 15px;
    background-color: mediumseagreen;
    border: none;
    color:white;
    transition:0.35s;
    width: 15.5em;
}

.btnconfirm:hover{
    background-color:#349961;
    transition:0.35s;
}

.omb_login .omb_socialButtons{
    padding: 25px;
    padding-top: 10px;
}

.omb_login{
    padding-bottom:100px;
}


.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
    transition: 0.35s;
}

.omb_login .omb_socialButtons .omb_btn-facebook:hover {
    background: #324a80;
}

.textreg{
    margin-top: 20px;
    font-family: 'latolight';
    font-size: 1.25em;
    text-align: center;
}

#footer{
    width: 100%;
    height:135px;
    background-color: black;
    color: white;
    font-family: 'latolight';
}



.footer-social {
    float: left;
    padding: 52px;
}


.footer-social img{
    opacity: 0.8;
}

.footer-social img:hover{
    opacity: 1;
    transition: 0.5s;
}

.footer-social li {
    display: inline;
    padding: 8px;
}

.footer-social span { margin-top: -20px;}


.footer-legal {
    float: right;
    padding: 52px;
}

.footer-legal li {
    display: inline;
    padding: 8px;
}

.footer-legal li a{
    text-decoration: none;
    color:#fff;
}
.footer-legal li a:hover{
    text-decoration: none;
    color:#8c8c8c;
    transition:0.5s;
}



@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
}