body {
    min-width: 420px;
}
h1 {
    margin-top: 22px !important;
    font-size: 67px !important;
}
textarea {
    resize: none;
}
a:focus, input:focus, textarea:focus, button:focus, a:hover, input:hover, textarea:hover, button:hover {
    outline: none !important;
    text-decoration: none;
}
.nav-pills li a, .nav-pills li a:active, .nav-pills li a:hover, .nav-pills li a:visited, .nav>li>a:hover, .nav>li>a:focus {
    background-color: white;
    color: black;
    text-transform: uppercase;
}
.maxheight300 {
    max-height: 300px;
    overflow: scroll;
    border: 1px solid #ddd;
}

.maxheight400 {
    max-height: 400px;
    overflow: scroll;
    border: 1px solid #ddd;
}
.btn-tomato {
	background-color: #f05d43 !important;
  border: 1px solid #f05d43 !important;
  color: #FFF !important;
}
.size_title {
    float: left;
    margin-top: 5px;
}
.size_cart_select, .size_cart:hover {
    background-color: #f05d43 !important;
    color: #FFF !important;

}
.type_cart {
    padding: 3px 4px;
    cursor: pointer;
}
.type_cart_content {
    margin-top: 6px;
}
.type_cart_select, .type_cart:hover {
    background-color: #f05d43 !important;
    color: #FFF !important;
    padding: 3px 4px;
    border-radius: 5px;
}
.size_cart {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    text-align: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.nav a:hover, .nav a:active {
    padding-bottom: 3px;
    border-bottom: 2px solid #cb4e4e;
    text-decoration: none;
    color: #000;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin: 0 11px;
}
.nav-pills>li>a {
    border-radius: 0px;
}
.dropdown_user .dropdown-menu {
    min-width: 50px;
}
.upload_header {
    width: 100px !important;
    padding: 10px 0px !important;

    border: none !important;
    font-family: inherit !important;
    font-size: inherit !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    outline: 0 !important;
    position: relative !important;
    -webkit-transition: all .3s !important;
    -moz-transition: all .3s !important;
    transition: all .3s !important;
    background: #cb4e4e !important;
    border-radius: 5px !important;
    box-shadow: 0 6px #ab3c3c !important;
}
.textarea_upload {
    margin: -10px -51px 0px 0px !important;
    height: 207px !important;
    width: 202px !important;
    resize: none !important;
}
.min-header {
    position: fixed;
    background: rgba(255,255,255,1);
    border-bottom: 1px solid #EEE;
    z-index: 1000;
    width: 100%;
    left: 15px;
}
.min-header h1 {
    font-size: 48px !important;
    margin-top: -4px !important;
}
.min-header h2 {
    font-size: 11px !important;
    margin-bottom: 7px !important;
}
.min-header .menu {
    margin-top: -12px;
}
.menu {
    margin-top:30px;
}
.messagepageicon {
    font-size: 140px;
}
.messagepageheader {
    font-size: 50px;
}
.messagepageheader {
    font-size: 30px;
}
.btn-another-work {
    border-radius: 6px;
    border: 1px solid #EEE;
}
.btn-another-work:hover {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.125);
}
.tooltip-inner {
    min-width: 50px;
    padding: 4px 16px !important;
}
#img_output {
    width: 300px;
}
.breadcrumb li a:hover {
    text-decoration: none !important;
    color: #e55858 !important;
}
.breadcrumb li .select {
    color: #e55858 !important;
}
.breadcrumb {
    margin-top: 6px;
}
.contact_envelope {
    font-size: 100px;
}
.dashboard_infos {
    margin-top: 5px !important;
}
.profileInfos {
    font-family: "latomedium";
    color: #666768;
}
.hide_hr {
    border: 1px solid rgba(0,0,0,0);
}
.dashboard_navigation {
    font-family: "latomedium";
    color: #666768;
}
.hideinput {
    display: none !important;
}
.hideform {
    display: none;
}
.questionprofile {
    font-size: 18px !important;
    padding-top: 5px !important;
}
footer li a, footer li {
    color: #717375;
}
.cnil {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.cnil .container {
    padding: 10px 0px 0px 0px;
    border: 1px solid #EEE;
    background: #FFF;
}
.cnil .container p {
    font-size: 86%;
}
.cnil .container i {
    cursor: pointer;
    color: #777;
}
.cnil .container i:hover {
    color: #222;
}
